<div id="proxy-options" class="container-fluid">
	<h2>Reverse-Proxy Configuration</h2>
	
	<div ng-if="optionsLoading">
		<div class="row row-spacer">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<p>Loading <i class="fa fa-spinner fa-spin"></i></p>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
	<div ng-if="optionsShow">
		<div class="row row-spacer" ng-cloak>
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div>
					<pre class="code-block text-block-40">{{proxyOptions}}</pre>
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>