<div class="container-fluid" ng-controller="AppEditorCtrl">
	<h2>Application Editor</h2>
	
	<script type="text/ng-template" id="templateModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Application Info</h3>
		</div>
		<div class="modal-body">
			<h4>Application Template</h4>
			<div>
				<pre class="code-block text-block-20">{{JSON.stringify(appTemplate, null, '    ')}}</pre>
			</div>
			<h4>JSON Schema</h4>
			<div>
				<pre class="code-block text-block-20">{{JSON.stringify(appSchema, null, '    ')}}</pre>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="$close()">Close</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="keyModal.html">
		<div class="modal-header">
			<h3 class="modal-title">API Key Generator</h3>
		</div>
		<div class="modal-body">
			<div>
				<pre class="code-block">{{$parent.apiKey}}</pre>
			</div>
		</div>
		<div class="modal-footer">
			<span class="pull-right">
				<button type="button" class="btn btn-default" ng-click="$parent.newApiKey()">New</button>
				<button class="btn btn-primary" ng-click="$close()">Close</button>
		</div>
	</script>

	<div ng-if="appsLoading">
		<div class="row row-spacer">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<p>Loading <i class="fa fa-spinner fa-spin"></i></p>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
	<div ng-if="appsShow">
		<form role="form">
			<div class="row row-spacer">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<span class="pull-right" ng-if="apps">
						<button type="button" class="btn btn-default clbtn-fa clbtn" ng-click="edit()"><span><i class="fa fa-pencil"></i></span></button>
						<button type="button" class="btn clbtn-info" ng-click="openInfo()"><span><i class="fa fa-info-circle"></i></span></button>
					</span>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="row row-spacer" ng-cloak>
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<div ng-if="apps"><pre class="code-block text-block-40">{{apps}}</pre></div>
					<div ng-if="apps === null"><pre class="code-block text-block-40">{{appsErr}}</pre></div>
				</div>
				<div class="col-xs-1"></div>
			</div>
		</form>
	</div>
	<div ng-if="appsEdit">
		<form role="form" ng-submit="saveApp()">
			<div class="row row-spacer">
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<span class="pull-right">
						<button type="submit" class="btn btn-primary clbtn">Save</button>
						<button type="button" class="btn btn-default clbtn" ng-click="cancel()">Cancel</button>
						<button type="button" class="btn btn-default clbtn" ng-click="validate()">Validate</button>
						<button type="button" class="btn btn-default clbtn" ng-click="openKey()"><span><i class="fa fa-key"></i></span></button>
						<button type="button" class="btn clbtn-info" ng-click="openInfo()"><span><i class="fa fa-info-circle"></i></span></button>
					</span>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="row row-spacer" ng-cloak>
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<textarea id="app-buffer" class="form-control code-block" ng-model="$parent.appsFormBuffer"></textarea>
				</div>
				<div class="col-xs-1"></div>
			</div>
		</form>
		<div class="row row-spacer" ng-cloak>
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<div>
					<pre class="code-block text-block-20">{{JSON.stringify(validationResults.validation, null, '    ')}}</pre>
				</div>
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>
